.error-message__container {
  width: 100%;
  font-size: 0.9rem;
  color: red;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.errIcon {
  fill: red;
  height: 1rem;
}
.error-message__detail {
  text-align: left;
}
