.jumbo-card {
    background-color: darkgray;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: auto;
    height: 400px;
    width: 26%;
    margin-left: 37%;
    margin-top: 180px;
}

.login-form-container {
    background-color: white;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: auto;
    height: 300px;
    width: 90%;
    margin-left: 5%;
    margin-top: 80px;
}

.login-standard {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    margin-top: 25px;
    height: 150px;
}

.login-google {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    height: 95px;
}

.login-hr {
    /* height: 5px; */
}



