.jumbo-card {
    background-color: rgb(20, 20, 20, 0.6);
    border-radius: 1.2em;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em; 
}

.aura-logo-img {
    display: block;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
}


.login-form-container {
    width: 95%;
    background-color: white;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    padding: 2em 0;


  
} 

.login-standard {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.form-row {
    width: 100%;
    padding: 0.8em 0;
}

.btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.forgot-password {
    margin-top: 0.5em;
    margin-left: auto;
    width: fit-content;
    color: gray;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.horizontal-line {
    width: 90%;
    height:1px;
    border-width:0;
    color:gray;
    background-color:#cfc9c9;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0.7em;
    
}

.login-google {

    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;


}

.login-using {
    margin-bottom: 0.5em;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}



.login-hr {
    /* height: 5px; */
}



