.login-form-container {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-top: 120px;
    height: 250px;
}

.login-standard {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    height: 150px;
}

.login-google {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    height: 95px;
}

.login-hr {
    /* height: 5px; */
}



